@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
	display: grid;
	grid-template-columns: 10% repeat(4, 10vw) 10%;
	grid-template-rows: repeat(5, 20vh);
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background-color: #4A85BC;
}

* {
	font-family: 'Varela Round', sans-serif;
}

button {
	background-color: #393939;
	border-radius: 4px;
	font-size: 1.2em;
	font-weight: bold;
	color: white;
}
.heading{
	font-size: 3rem;
	font-weight: bold;
	color: #262525;
}

.cats button {
	padding: 5% 10%;
}

.heading {
	grid-column: span 6;
}

.category {
	grid-column: 2/span 4;
	grid-row-start: 2;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: auto;
}

.cats {
	grid-row: 1/2;
}

.cats button.deboss {
	background-color: #FE8F4B;
}

form {
	grid-row-start: 3;
	grid-column: 1/span 6;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3, .1fr);
}
.rand {
	margin-top: 1%;
	margin-bottom: 2%;
	font-size: .5em;
}
.input {
	grid-row-start: 2;
}
.input .user{
	margin-top: 2%;
}
input[type="text"][disabled] {
	background-color: lightgrey;
}
input[type="checkbox"] {
	transform: scale(1);
}

.enter {
	grid-row-start: 4;
}

.enter button {
	padding: 1% 2%;
}

.warning {
	grid-row-start: 3;
	font-size: 1em;
	color: #CC0000;

}

.ans {
	margin-top: 8%;
	grid-row-start: 4;
	grid-column: 1/span 6;
	display: grid;
	grid-template-columns: 20% auto 20%;

}

.fact {
	grid-column: 2;
	padding: 4%;
	background-color: white;

}
