body {
	display: grid;
	grid-template-columns: 5% repeat(4, auto) 5%;
	/* grid-template-columns: repeat(4, auto); */
	grid-template-rows: repeat(5, 20vh);
	/* grid-template-rows: repeat(6, 1fr); */
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.heading {
	grid-column: span 6;
}

.category {
	grid-column: 2/span 4;
	grid-row-start: 2;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: auto;
}

.cats {
	grid-row: 1/2;

}
.rand {
	font-size: .5em;
}
input[type=checkbox] {
	transform: scale(0.5);
}
form {
	grid-row-start: 3;
	grid-column: 1/span 6;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(2, 1fr) .5fr;
}
form > div.user {
	/* grid-row-start: 2; */
}
/* .ans {
	grid-row-start: 5;
	grid-column: 1/span 6;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: subgrid;
} */

.temp {
	grid-row: 1/2;
	
}

/* when finished, this won't be here, it will be added using JS*/
/* .warning {
	font-size: .5em;
	color: red;
} */