body {
	display: grid;
	grid-template-columns: 5% repeat(4, auto) 5%;
	/* grid-template-columns: repeat(4, auto); */
	grid-template-rows: repeat(6, 1fr);
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

p {
	grid-column: span 6;
}

.category {
	grid-column: 2/span 4;
	grid-row-start: 3;
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: auto;
}

.cats {
	grid-row: 1/2;

}

.ans {
	grid-row-start: 4;
}

.input {
		grid-row-start: 4;
		grid-column: 1/span 6;
}
.rand {
	font-size: .5em;
}
input[type=checkbox] {
	transform: scale(0.5);
}
form {
	grid-row-start: 4;
	grid-column: 1/span 6;
}
.ans {
	grid-row-start: 5;
	grid-column: 1/span 6;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: subgrid;
}

.temp {
	grid-row: 1/2;
	
}

/* when finished, this won't be here, it will be added using JS*/
/* .warning {
	font-size: .5em;
	color: red;
} */